@font-face {
    font-family: 'Kantumruy';
    src: url('../fonts/KantumruyPro-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Jost';
    src: url('../fonts/Jost-Medium.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'KantumruyPro-SemiBold';
    src: url('../fonts/KantumruyPro-SemiBold.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Josefin-Sans';
    src: url('../fonts/JosefinSans-VariableFont_wght.ttf');
    font-weight: normal;
    font-style: normal;
}

.main_conteneur{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: calc(100vh - var(--taille-header));
}

.demandesControl{
    width: 800px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.demandes_filtre{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.search-container {
    display: flex;
    align-items: center;
}

#searchInput {
    flex: 1; /* Le champ de saisie de texte prendra tout l'espace disponible */
}

#searchButton {
    background: none;
    border: none;
    cursor: pointer;
}

.demandes_rechercher{
    display: flex;
    flex-direction: row;
    background: #EDEDED;
    vertical-align: center;
    align-items: center;
    border-radius: 20px;
}

.demandes_filtre > div{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height:30px; 
}

#filtre{
    width: 100%;
    height: 100%;
}

.filtreInput{
    border: none;
    outline: none;
    padding: 10px 15px;
    border-radius: 20px;
    height: 15px;
    background: #f1f1f1;
}

.checkType , .checkSemaine{
    background: #32373B;
    color: white;
    transition: background-color 0.3s linear; /* Transition de couleur de fond */
}

.uncheckType , .uncheckSemaine{
    transition: background-color 0.3s linear; /* Transition de couleur de fond */
}

.checkType:hover , .checkSemaine:hover{
    background: #444a4f;
    cursor: pointer;
}
.uncheckType:hover , .uncheckSemaine:hover{
    background: #e3dfdf;
    cursor: pointer;
}

.researchLogoSvg{
    transform: translateX(-150%);
    width: 11px;
    height: 11px;
}

.researchLogoSvg:hover{
    cursor: pointer;
}

.rechercher .svgFiltre:hover{
    cursor: pointer;
}


@media screen and (max-width: 900px) {

    .demandesControl{
        width: 700px;
    }

}

@media screen and (max-width: 800px) {

    .demandesControl{
        width: 600px;
    }

}

@media screen and (max-width: 600px) {

    .demandes_filtre{
        padding-left: 10px;
        padding-right: 10px;
    }

    .main_conteneur{
        align-items: normal;
        padding-top: 10px;
    }

    .demandesControl{
        width: 100%;
    }
}
