@font-face {
    font-family: 'Kantumruy';
    src: url('../fonts/KantumruyPro-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Jost';
    src: url('../fonts/Jost-Medium.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'KantumruyPro-SemiBold';
    src: url('../fonts/KantumruyPro-SemiBold.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Josefin-Sans';
    src: url('../fonts/JosefinSans-VariableFont_wght.ttf');
    font-weight: normal;
    font-style: normal;
}

:root {
    --taille-demande: 800px;
}


main{
    background-color: #fff;
}

#menuFiltre{
    display: flex;
    -webkit-box-shadow: unset; 
    box-shadow: unset;
    position: unset;
    background-color: white;
    height: fit-content;
    width: 250px;
    padding: 15px;
}

#menuFiltre .filtre_titre{
    display: none;
}

#police{
    margin-top: 0;
}

#filterContainer1{
    overflow-y: unset;
}

#filterContainer1 .filtre_span{
    gap:0px;
    flex-direction: column;
    width: unset;
}

#filterContainer1 .filtre_entete{
    font-size: 24px;
}

#filterContainer1 .filtre_parent{
    background-color: unset;
    border: 0;
}

#filterContainer1 .filtre_parent:not(:first-of-type){
    padding-top: 10px;
    border-top: 1px solid lightgrey;
}

#filterContainer1 .filtre_span label{
    padding: 0;
    background-color: unset;
    color:black;
    border: 0;
}

.filtre_parent_label{
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.main_conteneur{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 25px;
    overflow: auto;
    height: calc(100vh - var(--taille-header));
}

.demandesControl{
    width: var(--taille-demande);
    height:964px;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    gap: 5px;
    align-items: center;
}

.demandes_filtre_parent{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 70px;
    background-color: #8a9cab;
    -webkit-box-shadow: 0px -3px 15px 5px rgba(0,0,0,0.25); 
    box-shadow: 0px -3px 15px 5px rgba(0,0,0,0.25);
}

.demandes_filtre{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    width: 50%;
}

.demandes_rechercher{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    border: 1px solid lightgrey;
    width: 50%;
    border-radius: 5px;
}

#filtre{
    width: 100%;
    height: 100%;
}

.filtreInput{
    border: none;
    outline: none;
    padding: 10px 15px;
    width: 40%;
    height: 15px;
    border-radius: 5px;
    background-color: #f7f7f7;
}

.filtre_parent_label input{
    accent-color: #535b62;
}

.checkType , .checkSemaine{
    background: #32373B;
    color: white;
    transition: background-color 0.3s linear; /* Transition de couleur de fond */
}

.uncheckType , .uncheckSemaine{
    transition: background-color 0.3s linear; /* Transition de couleur de fond */
}

.checkType:hover , .checkSemaine:hover{
    background: #444a4f;
    cursor: pointer;
}
.uncheckType:hover , .uncheckSemaine:hover{
    background: #e3dfdf;
    cursor: pointer;
}

.researchLogoSvg{
    background-color: #f7f7f7;
    padding: 12px;
    border-radius: 50%;
    width: 11px;
    height: 11px;
}

.researchLogoSvg:hover{
    cursor: pointer;
}

.rechercher .svgFiltre:hover{
    cursor: pointer;
}

#svg_filtre_parent{
    display: none;
    align-items: center;
    justify-content: center;
    margin-left: 20px;
    cursor: pointer;
}

#trierDecroissant{
    width: 20%;
    height: 20%;
    transition: scale 0.3s linear;

}
#trierDecroissant:hover{
    scale: 110%;
    cursor: pointer;

}
.alignTrier{
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
}

.svgPage{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}
.rightPage{
    height: 30%;
    width: 30%;
    transition: scale 0.3s linear;
}
.rightPage:hover{
    scale: 110%;
    opacity: 110%;
    cursor: pointer;
 }
#svgFiltre{
    width: 30px;
    height: 30px;
}

.PageContent{
    display: flex;
    flex-direction: column;
    align-content: center;
}

#filterContainer1 .filtre_span .check , #filterContainer1 .filtre_span .checkElement{
    transition: background-color 0s linear;
}

#filterContainer1 .filtre_span .uncheck , #filterContainer1 .filtre_span .uncheckElement{
    transition: background-color 0s linear;
}



@media screen and (max-width: 1200px) {

    main{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: calc(100vh - var(--taille-header));
    }

    .demandesControl{
        height: unset;
    }

    .demandes_rechercher{
        background-color: #f0f0f0;
        border: 1px solid #dcdcdc;
        width: unset;
    }

    .filtreInput{
        background-color: #f0f0f0;
    }

    .filtreInput, .demandes_rechercher{
        border-radius: 20px;
    }

    .demandes_filtre{
        justify-content: space-between;
        width: var(--taille-demande);
        height: 50px;
        -webkit-box-shadow: none; 
        background-color: unset;
        box-shadow: none;
    }

    .main_conteneur{
        align-items: center;
        height: fit-content;
        padding-top: 0;
    }

    #svg_filtre_parent{
        display: flex;
    }

    #menuFiltre{
        display: none;
        -webkit-box-shadow: -5px 0px 15px 0px var(--couleur-shadow); 
        box-shadow: -5px 0px 15px 0px var(--couleur-shadow);
        position: absolute;
        margin-right: 0;
        height: calc(100% - var(--taille-header));
        width: 500px;
        padding: 0;
        border-radius: 0;
    }

    main{
        background-color: white;
    }
    
    
    #menuFiltre .filtre_titre{
        display: flex;
    }
    
    #police{
        margin-top: 15px;
    }
    
    #filterContainer1{
        overflow-y: auto;
    }
    
    #filterContainer1 .filtre_span{
        gap:15px;
        flex-direction: row;
        width: 400px;
    }
    
    #filterContainer1 .filtre_entete{
        font-size:28px;
    }
    
    #filterContainer1 .filtre_parent{
        background-color: white;
        border-bottom: 10px #EBEBEB solid;
    }
    
    #filterContainer1 .filtre_parent:not(:first-of-type){
        padding-top: 0;
        border-top: 0;
    }
    
    #filterContainer1 .filtre_span label{
        padding: 5px 30px;
        background-color: white;
        color:black;
        border: 1px black solid;
        margin-top: 5px;
        font-size: 16px;
        border-radius: 10px;
    }
    #filterContainer1 .filtre_span .check{
        background: #32373B;
        color: white;
        transition: background-color 0s linear;
    }

    .filtre_parent_label{
        width: unset;
    }

    .filtre_parent_label input{
        display: none;
    }

    #filterContainer1 .filtre_span .uncheck{
        transition: background-color 0s linear;
    }

    #demande_container1{
        height: calc(85vh - var(--taille-header));
        background-color: #f1f1f1;
    }
    
}

@media screen and (max-width: 900px) {
    
    :root {
        --taille-demande: 700px;
    }

}

@media screen and (max-width: 800px) {
    
    :root {
        --taille-demande: 600px;
    }

}

@media screen and (max-width: 600px) {

    .demandes_filtre{
        padding-left: 10px;
        padding-right: 10px;
        box-sizing: border-box;
    }

    .main_conteneur{
        width: 100%;
        align-items: normal;
    }

    .main_conteneur{
        height: calc(100vh - var(--taille-header));
    }
    
    #demande_container1{
        background-color: white;
    }

    #menuFiltre{
        width: 100%;
    }

    #filterContainer1 .filtre_parent{
        width: 100%;
    }
    
    :root {
        --taille-demande: 100%;
    }

}
