@font-face {
    font-family: 'Kantumruy';
    src: url('../fonts/KantumruyPro-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Jost';
    src: url('../fonts/Jost-Medium.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'KantumruyPro-SemiBold';
    src: url('../fonts/KantumruyPro-SemiBold.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Josefin-Sans';
    src: url('../fonts/JosefinSans-VariableFont_wght.ttf');
    font-weight: normal;
    font-style: normal;
}

.main_conteneur{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: calc(100vh - var(--taille-header));
}


.demande_container{
    width: 100%;
    height: calc(85vh - var(--taille-header));
    display: flex;
    align-items: center;
    flex-direction: column;
    box-sizing: border-box;
    overflow-y: auto;
    overflow-x: hidden;
    border-radius: 10px;
    background-color: #f1f1f1;
    margin-top: 5px;
    gap: 10px;
    padding: 5px 10px;
}

.demandesControl{
    width: 800px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.filtres{
    width: 70%;
}
.demandes_filtre{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.search-container {
    display: flex;
    align-items: center;
}

#searchInput {
    flex: 1; /* Le champ de saisie de texte prendra tout l'espace disponible */
}

#searchButton {
    background: none;
    border: none;
    cursor: pointer;
}

.demandes_rechercher{
    display: flex;
    flex-direction: row;
    background: #EDEDED;
    vertical-align: center;
    align-items: center;
    border-radius: 20px;
}

.demandes_filtre > div{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height:30px; 
}

#filtre{
    width: 100%;
    height: 100%;
}

.filtreInput{
    border: none;
    outline: none;
    padding: 10px 15px;
    border-radius: 20px;
    height: 15px;
    background: #f1f1f1;
}

.checkType , .checkSemaine{
    background: #32373B;
    color: white;
    transition: background-color 0.3s linear; /* Transition de couleur de fond */
}

.uncheckType , .uncheckSemaine{
    transition: background-color 0.3s linear; /* Transition de couleur de fond */
}

.checkType:hover , .checkSemaine:hover{
    background: #444a4f;
    cursor: pointer;
}
.uncheckType:hover , .uncheckSemaine:hover{
    background: #e3dfdf;
    cursor: pointer;
}

.researchLogoSvg{
    transform: translateX(-150%);
    width: 11px;
    height: 11px;
}

.researchLogoSvg:hover{
    cursor: pointer;
}

.rechercher .svgFiltre:hover{
    cursor: pointer;
}

.rectangle_demande{
    height: 25px;
    width: 5px;
    background-color: grey;
    border-radius: 10px;
}

.div_demande{
    cursor: pointer;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: 68px;
    background-color: white;
    border: 1px solid rgb(204, 204, 204);
    padding: 10px;
    border-radius: 15px;
    box-sizing: border-box;
    transition: border 0.25s linear;
}

.div_demande:hover{
    border: 1px solid rgb(72, 72, 72);
}

.gauche_container{
    display: flex ;
    flex-direction: row;
    margin-left: 6px;
    align-items: center;
}

.infos_uv{
    margin-left: 18px;
    display: flex;
    flex-direction: column;
    justify-content: center; /* Aligne verticalement */
}

.infos_auteur{
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 10px;
    margin: 0;
    padding: 0;
}

.infos_auteur span{
    display: flex;
    flex-direction: row;
    align-items: center; /* Centre horizontalement */
    gap: 12px;
}

.demande_container h2 , .demande_container h4 ,.demande_container p , .demande_container h5{
    margin: 0;
    padding: 0;
    font-style: normal;
}

.demande_container h2{
    font-family: 'Jost', serif;
    font-size: 16px;
}

.demande_container h4{
    cursor: auto;
    font-size: 10px;
    font-family: "Jost", sans-serif;
    color: #B5B5B5;
    margin: 0
}

.demande_container p{
    font-family: "Jost", serif;
    color: #B5B5B5;
    cursor: auto;
    margin: 0;
}

.demande_container h5{
    font-family: "Jost", serif;
}

.misc_container{
    height: 200px;
    width: 200px;
    background: red;
}

.swap_icon{
    width: 30px;
    height: 30px;
}

.swap_div_container{
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

@media screen and (max-width: 900px) {

    .demandesControl{
        width: 700px;
    }

}

@media screen and (max-width: 800px) {

    .demandesControl{
        width: 600px;
    }

}

@media screen and (max-width: 600px) {

    .demande_container{
        background-color: initial;
    }

    .demande_container{
        border-top: 1px solid lightgrey;
        padding:10px;
        border-radius: 0;
        height: calc(100vh - var(--taille-header) - 55px);
    }

    .demandes_filtre{
        padding-left: 10px;
        padding-right: 10px;
    }

    .main_conteneur{
        align-items: normal;
        padding-top: 10px;
    }

    .demandesControl{
        width: 100%;
    }
}

@media screen and (max-width: 400px) {

    .infos_auteur{
        display: none;
    }

    .filtreInput{
        width:120px;
    }
}

@media screen and (max-width: 250px) {

    .rectangle_demande{
        display: none;
    }

    .gauche_container, .infos_uv{
        margin: 0;
    }
}

@media screen and (max-width: 200px) {

    .swap_div_container{
        display: none;
    }
}
