@font-face {
    font-family: 'Jost';
    src: url('../fonts/Jost-Medium.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Kantumruy';
    src: url('../KantumruyPro-SemiBold.ttf');
    font-weight: normal;
    font-style: normal;
}

:root {
    --taille-header: 13vh;
    --margin: 25px;
    --margin-menu: 2vh;
    --border-radius: 20px;
    --border-radius-edt: 10px;
    --taille-edt:12vw;
    --taille-conteneur-hours:50px;
    --bg-image: none;
    --bg-image-blur: 0px;
    --bg-position : 49px;
    --bg-black:0;
    --color-bordure: black;
}

main{
    overflow-y: scroll;
    overflow-x: hidden;
}

#parent_edt{
    width: fit-content;
    height: calc(100vh - var(--taille-header)); /* Utilise toute la hauteur de la fenêtre */
    margin: 0; /* Supprime les marges par défaut */
}



#dessus_edt{
    display: flex ;
    flex-direction: row;
    justify-content: space-between;
    margin: 10px;
    width: 95%;
}

#control_edt{
    display: flex ;
    flex-direction: row;
    gap: 10px
}


#jours{
    display: block;
}


.conteneurHours{
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    margin-top: 40px;
    width: var(--taille-conteneur-hours);
}

.conteneurHours h4{
    margin: 0;
    height: 40px;
}

#conteneur_edt{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}


#drag_file_edt:not(.hidden), #dropZone_custom:not(.hidden){
    display: flex;
    border: 1.5px dashed #c4c4c4;
    height:70%;
    width: 70%;
    border-radius: 10px;
    font-weight:400;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 20px;
  }
  #dropZone_custom:not(.hidden){
    height:100%;
    min-height: 150px;
    width: 100%;
    margin:0;
  }
  #drag_file_edt h6, #dropZone_custom h6{
    text-align: center;
    margin:0;
    font-size: 20px;
    font-weight: 300;
    color: #242424;
  }
  #drag_file_edt span, #dropZone_custom span{
    font-size: 14px;
    font-weight: 300;
    color: #c4c4c4;
  }
  #drag_file_edt button, #dropZone_custom button{
    padding: 8px 10px;
    width:40%;
    height:25px;
    font-size: 14px; 
    font-weight: 300;
    margin:0;
    margin-top:10px;
    background-color: #32373B;
    border: none;
    outline: none;
    color:white;
    border:1px solid #fff;
    border-radius: 20px;
    cursor: pointer;
    transition:all 0.5s;
  }
  #drag_file_edt button, #dropZone_custom button {
    height: 40px;
    width:50%;
  }
  #drag_file_edt button:hover, #dropZone_custom button:hover{
      background-color:#fff;
      border: 1px solid #32373B;
      color:#32373B;
  }
  
  #drag_file_edt img, #dropZone_custom img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 5px;
  }

  #image_bg_settings {
    display: flex;
    flex-direction: column;
    width: 100%;
}

#image_bg_settings > div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#image_bg_settings > div p {
    margin: 0;
    flex-grow: 0; /* Empêche le paragraphe de prendre plus d'espace que nécessaire */
}

#image_bg_settings > div input {
    flex-grow: 1;
    margin-left: 10px;
    background-color: #242424;
}


.mid_content label{
    width: 40%;
}
#fileName{
    width: 40%;
    outline: none;
    border:0;
    border-radius: 5px;
    height:30px;
    padding-left: 5px;
    background-color: #e5e5e5;
}

#ecran_edt{
    display: none;
    position: absolute;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.434);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#emploi_du_temps .jour{
    width: var(--taille-edt);
    height:fit-content;
    border: 1px solid black;
    border-left: 0;
    text-align: center;
    vertical-align: middle;
    box-sizing:border-box;
}

#emploi_du_temps .jour:first-child{
    border-left: 1px solid black;
}

#emploi_du_temps .jour h1{
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid black;
    box-sizing: border-box;
    margin: 0;
    background-color:lightgrey;
    height: 50px;
    font-size: 20px;
}

#emploi_du_temps .jour .endroit_cours{
    border-right: 1px solid var(--color-bordure);
    position: relative;
    width: 100%;
    overflow: hidden;
}

#emploi_du_temps .jour .titleday{
    font-size: 1em;
}

#emploi_du_temps .jour .cours{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: absolute;
    background-color: red;
    width: 100%;
    border-radius: 8px;
    box-sizing: border-box;
}

#emploi_du_temps .jour .cours h2,#emploi_du_temps .jour .cours p{
    margin: 0;
}

div.divHeure{
    transition: background-color 0.3s linear; /* Transition de couleur de fond */
    cursor: pointer; /* Curseur par défaut */
    opacity: 1;
}

div.divHeure:hover {
    background-color: #a9d9de53; /* Nouvelle couleur de fond au survol */
    cursor: pointer; /* Nouveau curseur au survol */
}

.hoverCours{
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: auto;
}

.hoverCoursIcon{
    transition: transform 0.3s ease;  /*Ajoute une transition de 0.5 seconde avec une accélération douce */
    height:33px;
    width: 33px;
}

/* Styles lorsqu'on survole l'élément SVG */
.hoverCoursIcon:hover{
    transform: scale(120%) translateX(10px);
    cursor: pointer;
}


.divHeure .dash{
    box-sizing: border-box;
    border-bottom: 1px dashed var(--color-bordure);
    margin: 0;
    padding: 0;
}

.divHeure:last-child .dash{
    border-bottom: 0px
}


.edt{
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#menu_jour_edt{
    margin: 0;
    padding: 0;
    display: none;
    align-items: center;
    width: 100%;
    list-style-type: none;
    border-bottom: 1px solid black;
    height: 50px;
}

#menu_jour_edt li{
    flex: 1;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}



#menu_jour_edt li.jour_select{
    border-bottom: 2px solid black;
    box-sizing: border-box;
}

#conteneur_edt > div:nth-child(5){
    display: inline-flex;
    justify-content: center;
    width: 100vw;
    height: calc(100% - 100px);
}

#suppr_edt_pannel{
    -webkit-box-shadow: 0px 0px 15px 8px var(--couleur-shadow); 
    box-shadow: 0px 0px 15px 8px var(--couleur-shadow);
}

#suppr_edt_pannel h6{
    text-align: center;
    font-size: 17px;
}

#emploi_du_temps{
    display: flex;
    flex-direction: row;
    height: fit-content;
    position: relative;
    overflow: hidden;
    border-radius: 10px;
}

#emploi_du_temps::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 101%;
    height: 101%;
    background-size: cover;
    background-position: center var(--bg-position);
    background-repeat: no-repeat;
    background-image: var(--bg-image);
    filter: blur(var(--bg-image-blur));
    z-index: -2; 
}

#assombrissement {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, var(--bg-black)); /* Couleur noire semi-transparente */
    z-index: -1;
}

.jour:first-of-type {
    border-top-left-radius: var(--border-radius-edt);
    border-bottom-left-radius: var(--border-radius-edt);
}

.jour:last-of-type {
    border-top-right-radius: var(--border-radius-edt);
    border-bottom-right-radius: var(--border-radius-edt);
}

.jour:first-of-type h1{
    border-top-left-radius: var(--border-radius-edt);
}

.jour:last-of-type h1{
    border-top-right-radius: var(--border-radius-edt);
}

.drop-zone {
    border: 2px dashed #ccc;
    padding: 20px;
    width: 300px;
    height: 200px;
    margin: 20px;
}
.container {
    width: 300px;
    height: 200px;
    border: 1px solid black;
    background-size: cover;
    background-position: center;
}

@media screen and (max-height: 700px) {
    .divHeure div{
        min-height: 50px;
    }

    .conteneurHours h4{
        min-height: 50px;
    }
}


@media screen and (max-width: 600px) {
    
    #emploi_du_temps{
        border-radius: 0px;
    }

    .divHeure:last-child .dash{
        border-bottom: 1px dashed var(--color-bordure);
    }

    #jours{
        display: none;
    }

    div.divHeure:hover {
        background-color: #ffffff00; /* Nouvelle couleur de fond au survol */
    }

    .jour:not(div.jour_select){
        display: none;
    }


    #emploi_du_temps .jour:first-child{
        border-left: 0;
    }

    #parent_edt, .edt{
        width:100%;
    }

    #menu_jour_edt{
        display: inline-flex;
    }

    #dessus_edt{
        width: calc(100% - 20px);
    }

    .conteneurHours{
        margin: 0;
        border-right: 1px solid black;
    }

    .conteneurHours h4:last-child{
        height:20px
    }

    #emploi_du_temps{
        margin-top:10px;
        width: 100%;
    }

    .divHeure:first-child .dash{
        border-top: 1px dashed var(--color-bordure);
    }

    :root{
        --taille-conteneur-hours : 50px;
    }


    #emploi_du_temps .jour{
        width: 100%;
        border:0;
        box-sizing: border-box;
    }

    #emploi_du_temps .jour h1{
        display: none;
    }

    .customs, .filtres{
        width: 100%;
    }

    .conteneur_custom .custom_parent, .conteneur_filtre .filtre_parent{
        width: 100%;
    }

}

@keyframes shake {
    0% { transform: translateX(0) rotate(0); }
    25% { transform: translateX(-1px) rotate(-1deg); }
    50% { transform: translateX(1px) rotate(1deg); }
    75% { transform: translateX(-1px) rotate(-1deg); }
    100% { transform: translateX(0) rotate(0); }
}

.shake-element {
    animation: shake 0.2s ease-in-out infinite; /* Ajustez la durée et l'accélération selon votre besoin */
}

#deleteCours .coursCancel , #deleteCours .coursDelete{
    border-radius: 10px;
    padding: 7px 10px 7px 10px;
    height: 31px;
    outline: none;
    color: #32373B;
    box-sizing: border-box;
    border: 1px solid #32373B;
    background-color: white;
    transition: background-color 0.3s linear, color 0.3s linear, border 0.3s linear; /* Transition de couleur de fond */
    cursor: pointer;
}
#deleteCours .coursCancel{
    margin-right: 10px;
    margin-left: 10px;
}
#deleteCours .coursCancel:hover, #deleteCours .coursDelete:hover{
    border: 0;
    color: white;
    background-color: #32373B;
}

.mid_input_local_save {
    display: flex;
    align-items: center;
    font-size: 10px;
    margin-bottom: 10px;
}

.mid_input_local_save label {
    margin-left: 5px;
}
