.customs, .filtres{
    display: none;
    z-index: 2;
    position: fixed;
    right: 0;
    top:var(--taille-header);
    flex-direction: column;
    height: calc(100% - var(--taille-header));
    width: 500px;
    overflow-x: hidden;
    background-color: white;
    -webkit-box-shadow: -5px 0px 15px 0px var(--couleur-shadow); 
    box-shadow: -5px 0px 15px 0px var(--couleur-shadow);
}

.customs h1 , .customs h3 , .customs h4 ,.filtres h1 , .filtres h3 , .filtres h4 {
    margin: 0;
    padding: 0;
}
.custom_titre, .filtre_titre{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    background: white;
    height: 10vh;
    max-height: 90px;
    min-height: 75px;
    border-bottom: 10px #EBEBEB solid;
    gap: 15px;
}

.custom_titre h1, .filtre_titre h1{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    padding: 15px;
    font-size: 25px;
    height:100%;
}


.custom_titre #custom_croix, .filtre_titre #filtre_croix {
    width: 20%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-left: 2px solid #d7d7d7;
    box-sizing: border-box;
}

.custom_titre #custom_croix img, .filtre_titre #filtre_croix img{
    padding: 0;
    height: 10px;
    width: 10px;
}

.custom_titre #custom_croix img:hover, .filtre_titre #filtre_croix img:hover{
    cursor: pointer;
}

.conteneur_custom, .conteneur_filtre{
    overflow-y: auto;
}

.conteneur_custom .custom_parent:first-child, .conteneur_filtre .filtre_parent:first-child{
    margin-top: 15px;
}

.conteneur_custom .custom_parent, .conteneur_filtre .filtre_parent{
    margin-top: 0;
    background: white;
    margin-bottom: 10px;
    padding-left: 15px;
    border-bottom: 10px #EBEBEB solid;
    display: flex;
    flex-direction: column;
    gap: 15px;
    box-sizing: border-box;
}


.conteneur_custom .custom_span, .conteneur_filtre .filtre_span{
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    gap: 15px;
    flex-direction: row;
    transform: translateX(5%);
    width: 400px;
    padding-bottom: 15px;
    padding-left: 15px;
}

#spanJour{
    margin-bottom: 2px;
}
.custom_span h3, .filtre_span h3{
    margin-top: 5px;
    font-size: 16px;
    border: 1px black solid;
    border-radius: 10px;
    padding: 5px 30px;
}

.custom_span .inputCouleur, .filtre_span .inputCouleur{
    width: 75px;
    height: 75px;
    background-color: lightgrey; /* Couleur de fond par défaut */
    cursor: pointer; /* Curseur indiquant que la div est cliquable */
    border: none;
    padding: 0;
    margin: 0;
    outline: none;
    border-radius: 100%; /
} 

.custom_span input, .filtre_span input{
    box-sizing: content-box;
    border: 1px black solid;
    cursor: pointer;
    background-color: #ffffff;
    padding:8px;
    border-radius: 5px;
}

.buttonCustoms, .buttonFiltres{
    text-align: center;
    margin-bottom: 25px;
    margin-top: 25px;
}

.buttonCustoms button, .buttonFiltres button{
    text-align: center;
    border-radius: 15px;
    color: white;
    border: none;
    background-color: #32373B;
    box-sizing: content-box;
    cursor: pointer;
    height: 31px;
    white-space: nowrap;
}

.divCustom input[type='time'], .divFiltre input[type='time']{
    font-family: Jost;
    font-style: oblique;
    padding: 10px;
    border: 2px black solid;
    border-radius: 8px;
    margin-right: 20px;
}
.check , .checkElement{
    background: #32373B;
    color: white;
    transition: background-color 0.3s linear; /* Transition de couleur de fond */
}

.uncheck , .uncheckElement{
    transition: background-color 0.3s linear; /* Transition de couleur de fond */
}

.check:hover , .checkElement:hover{
    background: #444a4f;
    cursor: pointer;
}

.uncheck:hover , .uncheckElement:hover{
    background: #e3dfdf;
    cursor: pointer;
}

.colorChoice{
    position: absolute; /* Positionnement absolu pour placer l'input par rapport à la div parente */
    width: 100%; /* Largeur de l'input égale à la largeur de la div parente */
    height: 100%; /* Hauteur de l'input égale à la hauteur de la div parente */
    opacity: 0; /* Rend l'input complètement transparent */
    pointer-events: none; /* Désactive les événements de pointage sur l'input */
}

span input[type='color']{
    padding: 0;
    margin: 0;
    border: none;
}

.svgCustom,.svgFiltre{
    height: 30px;
    width: 30px;
}

.svgCustom:hover, .svgFiltre:hover{
    cursor: pointer;
}

.inputCouleur{
    transform: translateX(100%);
}
.customButton, .filtreButton{
    padding: 5px 25px;
    transition: background-color 0.3s ease-in-out;
}
#appliquerCustom:hover, #appliquerFiltre:hover{
    background: #595e5e;
}
#supprimerCustom, #supprimerFiltre{
    background :#E6E6E6;
    color: black;
}

#supprimerCustom:hover, #supprimerFiltre:hover{
    background: #c7c4c4;
}

#filterContainer1::-webkit-scrollbar-track
{
	border: 1px solid #d1d1d1;
	border-radius: 10px;
	background-color: white;
}

#filterContainer1::-webkit-scrollbar
{
	width:10px;
    height:10px;
	background-color:white;
}

#filterContainer1::-webkit-scrollbar-thumb
{
	border: 1px solid #d1d1d1;
	border-radius: 10px;
	background-color: #dfdfdf;
}

@media screen and (max-width: 500px) {

    .customs, .filtres{
        width: 100%;
    }

}