.demandes_gestion_filtre{
    display: flex;
    align-items: center;
    justify-content: center;
    gap:10px
}

.demandes_gestion_filtre button:not(.hidden){
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    padding: 11px 18px;
    border-radius: 20px;
    border: 1px solid lightgray;
    background-color: white;
    color: #32373B;
    box-sizing: border-box;
    box-shadow: 5px 5px 15px 0px rgba(0,0,0,0.20);
    margin-right:0px;
    transition: background-color 0.3s ease, color 0.3s ease, border 0.3s ease ;
}

#demandes_professeur_bouton_selection, #demandes_professeur_bouton_selection>div{
    display: inline-flex;
    width: fit-content;
    gap:10px;
}

#demandes_professeur_bouton_selection{
    margin-right: 25px;
}

.demandes_gestion_filtre button img{
    height: 10px;
    font-size: 20px;
    margin-right: 8px;
}

.demandes_gestion_filtre button span{
    font-size: 20px;
    margin-right: 6px;
}

.demandes_gestion_filtre .button_filtre_selected:not(.hidden){
    border: 1px solid #32373B;
    background-color: #32373B;
    color: white;
}

select{
    box-sizing: content-box;
    cursor: pointer;
    border: 0;
    border-radius: 5px;
    background-color: #E9E9E9;
    padding:8px;
    transition: background-color 0.4s ease, padding 0.4s ease;
    padding-left:10px;
}

#profil_texte h1{
    display: flex;
    flex-direction:row;
    align-items: center;
    gap:15px;
}

#profil_uv{
    display: flex;
    flex-direction:row;
    align-items: center;
    gap:5px;
}

#profil_uv button{
    border-radius: 10px;
    padding: 5px 8px;
}

#profil_uv_parent{
    display: flex;
    flex-direction:row;
    align-items: center;
    gap:15px;
}

#profil_choix_uv_parent{
    display: flex;
    flex-direction:row;
    align-items: center;
    gap:5px;
    font-size: 13px;
}

#uv_pannel{
    display: none;
    height: 50vh;
    width: 50vw;
    -webkit-box-shadow: 0px 0px 15px 8px var(--couleur-shadow); 
    box-shadow: 0px 0px 15px 8px var(--couleur-shadow);
}

#uv_content .profil_demandes{
    max-height: 150px;
}

#uv_content .profil_demandes_parent,#uv_content .profil_demandes_sous_parent{
    gap:1vw;
}

#uv_content > div{
    display: flex;
    flex-direction: row;
    align-items: center;
}

#uv_content > div > button{
    padding: 10px 0px;
    border-radius: 30px;
}

#uv_content > div > button:first-of-type{
    background-color: white;
    color: #32373B;
    border: 1px solid #32373B;
}

#uv_content > div:nth-child(3){
    white-space: nowrap;
}

#message_attention_prof:not(.hidden){
    display: flex;
    align-items: center;
    justify-content: center;
    color:red;
    text-align: center;
    width: 80%;
}

#uv_button_retour{
    color: #32373B;
    background-color: white;
    border: 1px solid #32373B;
}

#profil_id{
    margin-top: 0;
}

#demandes_professeur_parent{
    min-height: 500px;
}

#demandes_professeur_content{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 350px;
}

#demandes_professeur{
    display: flex;
    flex-direction: column;
    width: 85%;
    height: 100%;
    overflow-x: auto;
    overflow-y: scroll;
}

#demandes_professeur::-webkit-scrollbar
{
	width: 10px;
}

#demandes_professeur_header span .tictac{
    background-color: #acff97;
}

.demande_professeur{
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-shrink: 0;
    justify-content: space-between;
    background-color: white;
    overflow: hidden;
    height: 50px;
    border-radius: 20px;
    padding:20px;
    width: calc(100% - 50px);
}

.top_container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.mid_container{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    justify-content: space-around;
}

.demande_professeur .infos_uv{
    font-size: 15px;
    white-space: nowrap;
}

.infos_swap{
    display: flex;
    flex-direction: row;
}

.demande_professeur .infos_etudiant_facultatif, .demande_professeur .infos_etudiant{
    margin-left: 20px;
    white-space: nowrap;
    font-size: 13px;
}

.demande_professeur .grey_element, .mid_content .grey_element{
    color: lightgrey;
    margin-right: 10px;
}

.button_choix_etudiant{
    display: flex;
    flex-direction: row;
    gap:10px
}

.button_choix_etudiant button{
    padding: 0;
    border: 0;
    background-color: unset;
}

.button_choix_etudiant button img{
    height: 20px;
}

.separation_etudiant{
    display: none;
    border-top: 1px solid rgb(239, 239, 239);
    margin-top:0;
    margin-bottom:0;
    width: 80%;
}

#demandes_professeur .swap_div_container{
    margin-left: 20px;
}

#swap_info_pannel{
    height: 50vh;
    -webkit-box-shadow: 0px 0px 15px 8px var(--couleur-shadow); 
    box-shadow: 0px 0px 15px 8px var(--couleur-shadow);
}

.demande_selected{
    background-color: rgba(0, 0, 0, 0.03125);
}

.mid_content .grey_element, .demande_selected .grey_element{
    color:rgb(145, 145, 145);
}


#swap_info_pannel ::-webkit-scrollbar-track
{
	border: 1px solid #d1d1d1;
	border-radius: 10px;
	background-color: #F5F5F5;
}

#swap_info_pannel ::-webkit-scrollbar
{
	width: 8px;
	background-color: #F5F5F5;
}

#swap_info_pannel ::-webkit-scrollbar-thumb
{
	border: 1px solid #d1d1d1;
	border-radius: 10px;
	background-color: #dfdfdf;
}

#swap_info_pannel .mid_content{
    justify-content: unset;
}

#swap_info_pannel .infos_etudiant{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #f1f1f1;
    width: 70%;
    padding: 10px 20px;
    margin: 20px 0px;
    border-radius: 20px;
}

#swap_info_pannel .infos_etudiant > div{
    display: flex;
    flex-direction: column;
    margin-top: 5px;
}

#swap_info_pannel .infos_etudiant > div > label:nth-child(2), .infos_etudiant > div > textarea:last-of-type{
    margin-left: 20px;
}

.mid_content .motivation_perso_etudiant textarea{
    margin-top: 5px;
    height: 50px;
}

#choix_prof_button_refuser{
    border:1px solid #32373B;
    color: #32373B;
    background-color: white;
}

#import_prof:not(.hidden){
    -webkit-box-shadow: 0px 0px 15px 8px var(--couleur-shadow); 
    box-shadow: 0px 0px 15px 8px var(--couleur-shadow);
}

#import_prof .mid_content textarea{
    height: 65%;
    margin-bottom: 10px;
}

#import_prof .mid_titre hr, #import_prof .mid_button hr{
    width: 100%;
}

#import_prof.mid_pannel button{
    margin: unset;
    display: flex;
    align-items: center;
    justify-content:center;
}

#import_prof .mid_button{
    min-height:60px;
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: space-evenly;
}
#import_prof .mid_button div{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    gap:25px;
}

.mid_button img{
    height: 20px;
}
#import_personne_fraud_title{
    padding:0;
}

#import_personne_fraud_container{
    width: 45%;
    height: 70%;
    overflow: auto;
}
@media screen and (max-width: 1600px) {

    .demande_professeur .infos_etudiant_facultatif{
        display: none;
    }

}

@media screen and (max-width: 1000px) {

    #demandes_professeur .swap_div_container{
        display: none;
    }

}

@media screen and (max-width: 950px) {

    .gauche_container{
        margin-right: 20px;
    }

    .infos_uv h2{
        margin: 0;
    }

    .infos_uv{
        font-size: 17px;
    }

    .demande_professeur{
        flex-direction: column;
        height: fit-content;
        min-width: 250px;
        gap: 10px;
    }

    .infos_swap > div{
        width: fit-content;
    }

    .separation_etudiant{
        display: block;
    }

    .demande_professeur .infos_etudiant_facultatif, .demande_professeur .infos_etudiant{
        font-size: 15px;
    }

    .demande_professeur .infos_etudiant_facultatif{
        display: block;
    }

    #demandes_professeur .mid_container{
        gap: 10px;
        flex-direction: column;
        align-items: unset;
    }

}

@media screen and (max-width: 900px) {

    #button_decline_all:not(.hidden), #button_accept_all:not(.hidden){
        display: flex;
        justify-content: center;
        align-items: center;
        padding:0px;
        height: 40px;
        width: 40px;
    }

    .demandes_gestion_filtre button img{
        margin-right: 0px;
        height: 12px;
    }

}

@media screen and (max-width: 800px) {

    #uv_content > div > button{
        padding: 10px;
    }

    #uv_pannel{
        width: 80%;
    }

    #profil_demandes_parent{
        flex-direction: row;
        gap:1vw;
    }

    #profil_uv button{
        border: none;
    }
}

@media screen and (max-width: 700px) {

    .demande_professeur .infos_etudiant_facultatif{
        display: none;
    }

}

@media screen and (max-width: 600px) {
    #demandes_professeur{
        width: 90vw;
    }

    #profil_utilisateur{
        margin: 0;
    }

    #profil_uv button{
        border: 1px solid lightgrey;
        background-color: white;
    }

    #profil_texte {
        margin: 0;
    }

    #profil_id{
        margin-top: 110px;
    }

    #profil_content{
        gap:25px;
    }

    #profil_uv_parent{
        flex-direction:column;
        gap:5px;
        align-items: unset;
    }

    .demande_professeur{
        border: 1px solid lightgrey;
    }

    #demandes_professeur_parent{
        min-height: 550px;
        justify-content: space-evenly;
    }

    #demandes_professeur_header{
        padding: 0;
    }

    #demandes_professeur_bouton{
        width: 100%;
        padding-top: 10px;
        border-top: 1px solid lightgrey;
    }
}

@media screen and (max-width: 475px) {

    #profil_uv{
        flex-wrap: wrap;
    }

}

@media screen and (max-width: 400px) {

    #uv_content .profil_demandes{
        max-height: 100px;
    }

    #uv_content > div:nth-child(3){
        font-size: 12px;
    }

    #uv_pannel{
        width: 90%;
    }

    #demandes_professeur_bouton_selection{
        margin: 0;
    }

}

@media screen and (max-width: 350px) {

    #uv_content .profil_demandes_parent, #profil_content .profil_demandes_parent{
        flex-direction: row;
    }

    #demandes_professeur_bouton_selection{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap:5px;
    }
}

@media screen and (max-width: 300px) {

    #profil_content .profil_demandes_parent{
        flex-direction: column;
        gap:1vw;
    }

}

@media screen and (max-height: 700px) {

    #swap_info_pannel{
        height: 70vh;
    }

}

@media screen and (max-height: 500px) {

    #swap_info_pannel{
        height: 80vh;
    }

}
/*
.profCheck {
    cursor: pointer;
    color: #555;
    font-weight: bold;
    margin-right: 10px;
}

.profCheck input[type="checkbox"] {
    display: none;
}

.profCheck .checkbox-custom {
    width: 20px;
    height: 20px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 3px;
    transition: background-color 0.3s, border-color 0.3s;
    position: relative;
    top: 3px;
}

.profCheck input[type="checkbox"]:checked + .checkbox-custom::after {
    content: "\2713";
    font-size: 14px;
    color: #555;
    position: absolute;
    top: 2px;
    left: 4px;
}

.profCheck input[type="checkbox"]:checked + .checkbox-custom {
    background-color: #007bff;
    border-color: #007bff;
}*/

.custom_span h3, .filtre_span h3{
    margin-top: 5px;
    font-size: 16px;
    border: 1px black solid;
    border-radius: 10px;
    padding: 5px 30px;
}
.custom_span{
    gap: 5px;
    overflow: hidden;
}
.conteneur_custom, .conteneur_filtre{
    overflow-y: auto;
}

.conteneur_custom .custom_parent:first-child, .conteneur_filtre .filtre_parent:first-child{
    margin-top: 15px;
}

.conteneur_custom .custom_parent, .conteneur_filtre .filtre_parent{
    margin-top: 0;
    background: white;
    margin-bottom: 10px;
    padding-left: 15px;
    border-bottom: 10px #EBEBEB solid;
    display: flex;
    flex-direction: column;
    gap: 15px;
    box-sizing: border-box;
}


.conteneur_custom .custom_span, .conteneur_filtre .filtre_span{
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    gap: 15px;
    flex-direction: row;
    transform: translateX(5%);
    width: 400px;
    padding-bottom: 15px;
    padding-left: 15px;
}

.custom_span input, .filtre_span input{
    box-sizing: content-box;
    border: 1px black solid;
    cursor: pointer;
    background-color: #ffffff;
    padding:8px;
    border-radius: 5px;
}

.divCustom input[type='time'], .divFiltre input[type='time']{
    font-family: Jost;
    font-style: oblique;
    padding: 10px;
    border: 2px black solid;
    border-radius: 8px;
    margin-right: 20px;
}
.uvCheck , .typeCheck , .filCheck{
    background: #32373B;
    color: white;
    transition: background-color 0.3s linear; /* Transition de couleur de fond */
}

.uvunCheck , .typeunCheck , .filunCheck{
    transition: background-color 0.3s linear; /* Transition de couleur de fond */
}

.uvCheck:hover , .typeCheck:hover , .filCheck:hover{
    background: #444a4f;
    cursor: pointer;
}

.uvunCheck:hover , .typeunCheck:hover , .filunCheck:hover{
    background: #e3dfdf;
    cursor: pointer;
}