.demandes_gestion_filtre button{
    padding: 11px 20px;
    border-radius: 15px;
    border: 1px solid #32373B;
    background-color: white;
    color: #32373B;
    box-sizing: border-box;
}

.demandes_gestion_filtre .button_filtre_selected{
    border: none;
    background-color: #32373B;
    color: white;
}

#profil_texte h1{
    display: flex;
    flex-direction:row;
    align-items: center;
    gap:15px;
}

#profil_uv{
    display: flex;
    flex-direction:row;
    align-items: center;
    gap:5px;
}

#profil_uv button{
    border-radius: 10px;
    padding: 5px 8px;
}

#profil_uv_parent{
    display: flex;
    flex-direction:row;
    align-items: center;
    gap:15px;
}

#profil_choix_uv_parent{
    display: flex;
    flex-direction:row;
    align-items: center;
    gap:5px;
    font-size: 13px;
}

#uv_pannel{
    display: none;
    height: 50vh;
    width: 50vw;
    -webkit-box-shadow: 0px 0px 15px 8px var(--couleur-shadow); 
    box-shadow: 0px 0px 15px 8px var(--couleur-shadow);
}

#uv_content .profil_demandes{
    max-height: 150px;
}

#uv_content .profil_demandes_parent,#uv_content .profil_demandes_sous_parent{
    gap:1vw;
}

#uv_content > div{
    display: flex;
    flex-direction: row;
    align-items: center;
}

#uv_content > div > button{
    padding: 10px 0px;
    border-radius: 30px;
}

#uv_content > div > button:first-of-type{
    background-color: white;
    color: #32373B;
    border: 1px solid #32373B;
}

#uv_content > div:nth-child(3){
    white-space: nowrap;
}

#message_attention_prof:not(.hidden){
    display: flex;
    align-items: center;
    justify-content: center;
    color:red;
    text-align: center;
    width: 80%;
}

#uv_button_retour{
    color: #32373B;
    background-color: white;
    border: 1px solid #32373B;
}

#profil_id{
    margin-top: 0;
}

#demandes_professeur_professeur{
    min-height: 500px;
}

#demandes_professeur_content{
    height: 350px;
}

#demandes_professeur{
    display: flex;
    flex-direction: column;
    width: 70vw;
    height: 100%;
    overflow-x: auto;
    overflow-y: scroll;
}

#demandes_professeur::-webkit-scrollbar
{
	width: 10px;
}


#demandes_professeur_header span .tictac{
    background-color: #acff97;
}

.demande_professeur{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    overflow: hidden;
    height: 50px;
    border-radius: 20px;
    padding:20px;
    width: calc(100% - 50px);
}

.top_container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.mid_container{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    justify-content: space-around;
}

.demande_professeur .infos_uv{
    font-size: 15px;
    white-space: nowrap;
}

.infos_swap{
    display: flex;
    flex-direction: row;
}

.demande_professeur .infos_etudiant_facultatif, .demande_professeur .infos_etudiant{
    margin-left: 20px;
    white-space: nowrap;
    font-size: 13px;
}

.demande_professeur .grey_element, .mid_content .grey_element{
    color: lightgrey;
    margin-right: 10px;
}

.button_choix_etudiant{
    display: flex;
    flex-direction: row;
    gap:10px
}

.button_choix_etudiant button{
    padding: 0;
    border: 0;
    background-color: unset;
}

.button_choix_etudiant button img{
    height: 20px;
}

.separation_etudiant{
    display: none;
    border-top: 1px solid rgb(239, 239, 239);
    margin-top:0;
    margin-bottom:0;
    width: 80%;
}

#demandes_professeur .swap_div_container{
    margin-left: 20px;
}

#swap_info_pannel{
    height: 50vh;
    -webkit-box-shadow: 0px 0px 15px 8px var(--couleur-shadow); 
    box-shadow: 0px 0px 15px 8px var(--couleur-shadow);
}

.demande_selected{
    background-color: rgba(0, 0, 0, 0.03125);
}

.mid_content .grey_element, .demande_selected .grey_element{
    color:rgb(145, 145, 145);
}


#swap_info_pannel ::-webkit-scrollbar-track
{
	border: 1px solid #d1d1d1;
	border-radius: 10px;
	background-color: #F5F5F5;
}

#swap_info_pannel ::-webkit-scrollbar
{
	width: 8px;
	background-color: #F5F5F5;
}

#swap_info_pannel ::-webkit-scrollbar-thumb
{
	border: 1px solid #d1d1d1;
	border-radius: 10px;
	background-color: #dfdfdf;
}

#swap_info_pannel .mid_content{
    justify-content: unset;
}

#swap_info_pannel .infos_etudiant{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #f1f1f1;
    width: 70%;
    padding: 10px 20px;
    margin: 20px 0px;
    border-radius: 20px;
}

#swap_info_pannel .infos_etudiant > div{
    display: flex;
    flex-direction: column;
    margin-top: 5px;
}

#swap_info_pannel .infos_etudiant > div > label:nth-child(2), .infos_etudiant > div > textarea:last-of-type{
    margin-left: 20px;
}

.mid_content .motivation_perso_etudiant textarea{
    margin-top: 5px;
    height: 50px;
}

#choix_prof_button_refuser{
    border:1px solid #32373B;
    color: #32373B;
    background-color: white;
}

@media screen and (max-width: 1600px) {

    .demande_professeur .infos_etudiant_facultatif{
        display: none;
    }

}

@media screen and (max-width: 1000px) {

    #demandes_professeur .swap_div_container{
        display: none;
    }

}

@media screen and (max-width: 950px) {

    .gauche_container{
        margin-right: 20px;
    }

    .infos_uv h2{
        margin: 0;
    }

    .infos_uv{
        font-size: 17px;
    }

    .demande_professeur{
        flex-direction: column;
        height: fit-content;
        min-width: 250px;
        gap: 10px;
    }

    .infos_swap > div{
        width: fit-content;
    }

    .separation_etudiant{
        display: block;
    }

    .demande_professeur .infos_etudiant_facultatif, .demande_professeur .infos_etudiant{
        font-size: 15px;
    }

    .demande_professeur .infos_etudiant_facultatif{
        display: block;
    }

    #demandes_professeur .mid_container{
        gap: 10px;
        flex-direction: column;
        align-items: unset;
    }

}

@media screen and (max-width: 800px) {

    #uv_content > div > button{
        padding: 10px;
    }

    #uv_pannel{
        width: 80%;
    }

    #profil_demandes_parent{
        flex-direction: row;
        gap:1vw;
    }

    #profil_uv button{
        border: none;
    }
}

@media screen and (max-width: 700px) {

    .demande_professeur .infos_etudiant_facultatif{
        display: none;
    }

}

@media screen and (max-width: 600px) {
    #demandes_professeur{
        width: 90vw;
    }

    #profil_utilisateur{
        margin: 0;
    }

    #profil_uv button{
        border: 1px solid lightgrey;
        background-color: white;
    }

    #profil_texte {
        margin: 0;
    }

    #profil_id{
        margin-top: 110px;
    }

    #profil_content{
        gap:25px;
    }

    #profil_uv_parent{
        flex-direction:column;
        gap:5px;
        align-items: unset;
    }

    .demande_professeur{
        border: 1px solid lightgrey;
    }

}

@media screen and (max-width: 475px) {

    #profil_uv{
        flex-wrap: wrap;
    }

}

@media screen and (max-width: 400px) {

    #uv_content .profil_demandes{
        max-height: 100px;
    }

    #uv_content > div:nth-child(3){
        font-size: 12px;
    }

    #uv_pannel{
        width: 90%;
    }

}

@media screen and (max-width: 350px) {

    #uv_content .profil_demandes_parent{
        flex-direction: row;
    }

}

@media screen and (max-height: 700px) {

    #swap_info_pannel{
        height: 70vh;
    }

}

@media screen and (max-height: 500px) {

    #swap_info_pannel{
        height: 80vh;
    }

}