@font-face {
    font-family: 'Jost';
    src: url('../fonts/Jost-Medium.ttf');
    font-weight: normal;
    font-style: normal;
}

/* Initialisation des variables */


.hidden{
    display:none;
}

:root {
    --taille-header: 13vh;
    --margin: 25px;
    --margin-menu: 2vh;
    --border-radius: 20px;
    --couleur-shadow: rgba(0,0,0,0.30);
}

.nouveau_pannel_checkbox:not(.hidden){
    width: 100%;
    display: flex;
    overflow: hidden;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap:10px
}
.nouveau_pannel_checkbox li{
    float: left;
    clear: both;
    width: 47%;
    white-space: nowrap;
}

body {
    font-family: Jost, sans-serif;
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: auto;
}

main {
    height: 100%;
    width: 100%;
    margin-top:var(--taille-header);
}

main::-webkit-scrollbar-track
{
	border: 1px solid #d1d1d1;
	border-radius: 10px;
	background-color: #F5F5F5;
}

main::-webkit-scrollbar
{
	width: 12px;
    height:12px;
	background-color: #F5F5F5;
}

main::-webkit-scrollbar-thumb
{
	border: 1px solid #d1d1d1;
	border-radius: 10px;
	background-color: #dfdfdf;
}

/* Mise du header au premier plan et d'une telle sorte que chaque élément soit de son côté de l'écran */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #32373B;
    color: white;
    position:fixed;
    top:0;
    font-size: 18px;
    width: 100%;
    height: var(--taille-header);
    max-height: 100px;
    z-index: 4;
}

header .logo{
    height: 40%;
    margin-left: 20px;
}

.notification {
    vertical-align: middle;
    width: 75%;
    cursor: pointer;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

/* Ecart entre les éléments de la navbar*/

nav li {
    display: flex;
    align-items: center;
    margin-right: var(--margin);
    position: relative;
}

nav a {
    text-decoration: none;
    color: white;
    line-height: 2; /* pour centrer les éléments par rapport à la cloche de notif */
}

/* Mise en forme du bouton *nouveau* ou *connexion* */

nav button, #menu_pannel button{
    vertical-align: middle;
    display: inline-flex;
    align-items: center;
    justify-content: space-around;
    padding: 10px 15px;
    font-size: 16px;
    cursor: pointer;
    background-color: #fff;
    color: #000;
    border: 1px solid grey;
    border-radius: var(--border-radius);
    font-family: Jost, sans-serif;
}

/* Décalage du "+" du bouton *nouveau* ou *connexion* */

nav button img, #menu_pannel button img{
    margin-right: 10px;
    width: 15px;
}

nav .cercle{
    position: absolute;
    top:-10%;
    right: 10%;
    width: 12px;
    height: 12px;
    border-radius: 50%;
}

nav .vert{
    background-color: #3eff61;
}


nav .orange{
    background-color: #ffab3e;
}



/* Mise en forme de la page de notif */

#notification_pannel{
    display: none;
    position: fixed;
    flex-direction: column;
    justify-content: space-between;
    top: var(--taille-header);
    margin: 10px;
    right: 0;
    border: 1px solid rgb(219, 219, 219);
    width: 45%;
    height: 75%;
    max-height: 700px;
    z-index: 3;
    -webkit-box-shadow: 5px 5px 10px 5px var(--couleur-shadow); 
    box-shadow: 5px 5px 10px 5px var(--couleur-shadow);
    border-radius: var(--border-radius);
    background-color: #fff;
    padding-bottom: 0.5em;
    padding-right: 5px;
}

#notification_pannel #titre_notification h2{
    margin-left: 40px;
    margin-top: var(--margin);
    margin-bottom: 0;
}

#notification_pannel hr{
    border-top: 1px solid #C4C4C4;
}

#notification_pannel #titre_notification hr{
    margin-top: 13px;
}

#notification_pannel #endroit_notification{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
    box-sizing: border-box;
    margin-right: 5px;
}

#notification_pannel #endroit_notification::-webkit-scrollbar-track
{
	border: 1px solid #d1d1d1;
	border-radius: 10px;
	background-color: #F5F5F5;
}

#notification_pannel #endroit_notification::-webkit-scrollbar
{
	width: 12px;
    height:12px;
	background-color: #F5F5F5;
}

#notification_pannel #endroit_notification::-webkit-scrollbar-thumb
{
	border: 1px solid #d1d1d1;
	border-radius: 10px;
	background-color: #dfdfdf;
}

#notification_pannel #endroit_notification .notif{
    display: flex;
    flex-direction: column;
    margin: 0;
    padding-right: 5px;
}



#notification_pannel #endroit_notification .notif hr{
    width: 100%;
}


#notification_pannel #endroit_notification .notif .endroit_texte_notif{
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
    position: relative;
    width: 100%;
    margin: 0;
    height: 10vh;
    min-height: 60px;
    max-height: 90px;
}

#notification_pannel #endroit_notification .type_1:not(.viewed) .endroit_texte_notif{
    min-height: 80px;
    max-height: 110px;
    height: 50vh;
}

#notification_pannel #endroit_notification .viewed .endroit_texte_notif .texte_notification div button{
    display: none;
}



#notification_pannel #endroit_notification .notif .endroit_texte_notif .user_importance_notification{
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    margin: 0 20px 0 20px;
    height: 100%;
    margin-left: 20px;
}

#notification_pannel #endroit_notification .notif .endroit_texte_notif .user_importance_notification .image_profil_notification{
    height: 10vh;
    min-height: 55px;
    position: relative;
    display: flex;
    align-items: center;
}

#notification_pannel #endroit_notification .notif .endroit_texte_notif .user_importance_notification .image_profil_notification img{
    max-height: 80px;
    height: 100%;
}

#notification_pannel #endroit_notification .notif .endroit_texte_notif .user_importance_notification .image_profil_notification div{
    position: absolute;
    top:0%;
    right: 0%;
    width: 20px;
    height: 20px;
    border-radius: 50%;
}

#notification_pannel #endroit_notification .notif:not(.viewed) .endroit_texte_notif .user_importance_notification .image_profil_notification .cercle{
    background-color: #3eff61;
}

#notification_pannel #endroit_notification .notif:not(.viewed) .endroit_texte_notif .user_importance_notification .image_profil_notification .cercle{
    background-color: #ffab3e;
}



#notification_pannel #endroit_notification .notif .endroit_texte_notif .texte_notification{
    display: flex;
    flex-direction: column;
    justify-content:center;
    width: 100%;
}

#notification_pannel #endroit_notification .notif .endroit_texte_notif .texte_notification h1{
    margin: 0;
    font-size: 15px;
}
#notification_pannel #endroit_notification .notif .endroit_texte_notif .texte_notification p{
    margin: 0;
    font-size: 15px;
    width: 85%;
}

#notification_pannel #endroit_notification .notif .endroit_texte_notif .texte_notification div{
    margin: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#notification_pannel #endroit_notification .notif:not(.viewed) .endroit_texte_notif .texte_notification div button{
    cursor: pointer;
    padding: 7px 15px 7px 15px;
    border-radius: 8px;
    border: 0;
    font-weight: bold;
    margin-top: 4px;
}

#notification_pannel #endroit_notification .notif .endroit_texte_notif .texte_notification div button:first-child{
    margin-right: 25px;
    border: 1px solid #32373B;
    box-sizing: border-box;
    background-color: white;
    color: #32373B
}

#notification_pannel #endroit_notification .notif .endroit_texte_notif .texte_notification div button:last-child{
    background-color: #32373B;
    color: white;
}

#notification_pannel #endroit_notification .notif .endroit_texte_notif .time_notification{
    margin: 0;
    white-space: nowrap;
    position: absolute;
    top:10px;
    right: 5%;
    font-size: 10px;
}

#notification_pannel #endroit_notification .notif .endroit_texte_notif .time_notification p{
    margin: 0;
}



#nouveau_pannel{
    display: none;
    overflow: hidden;
    flex-direction: column;
    align-items: center;
    justify-content:space-between;
    padding:0;
    position: fixed;
    top: calc(50vh + calc(var(--taille-header)/2)); /* La moitié de la hauteur de l'en-tête + ajustement */
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid rgb(219, 219, 219);
    width: 35%;
    min-width: 100px;
    min-height: 60%;
    height: 60%;
    z-index: 3;
    -webkit-box-shadow: 0px 0px 15px 8px var(--couleur-shadow); 
    box-shadow: 0px 0px 15px 8px var(--couleur-shadow);
    border-radius: var(--border-radius);
    background-color: #fff;
}

#nouveau_pannel #form_debut_nouveau{
    display: flex;
    align-items: center;
    flex-direction: column;
}

#nouveau_pannel #div_debut_nouveau{
    height: fit-content;
    width: 100%;
} 

#nouveau_pannel #div_fin_nouveau{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: fit-content;
    width: 100%;
}

#nouveau_pannel #croix_nouveau{
    display: none;
    position: absolute;
    top:15px;
    right: 15px;
    width: 12px;
}

#nouveau_pannel label{
    white-space: nowrap;
}



#nouveau_pannel #div_milieu_nouveau{
    display: flex;
    justify-content: center;
    width: 100%;
    overflow-y: auto;
    overflow-x: none;
    box-sizing: border-box;
    margin: 10px 8px;
}

#nouveau_pannel #div_milieu_nouveau::-webkit-scrollbar-track
{
	border: 1px solid #d1d1d1;
	border-radius: 10px;
	background-color: #F5F5F5;
}

#nouveau_pannel #div_milieu_nouveau::-webkit-scrollbar
{
	width: 8px;
    height:8px;
	background-color: #F5F5F5;
}

#nouveau_pannel #div_milieu_nouveau::-webkit-scrollbar-thumb
{
	border: 1px solid #d1d1d1;
	border-radius: 10px;
	background-color: #dfdfdf;
}

#nouveau_pannel ul:not(.hidden){
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align:left;
    list-style: none;
    padding: 0;
    margin: 0;
    height: fit-content;
}

#nouveau_pannel li:not(.double-input):not(.basique):not(.hidden){
    display: flex;
    flex-direction: column;
    width: 100%;
}

#nouveau_pannel li:not(.double-input):not(.basique):not(.hidden) input{
    width: 100%;
}

#nouveau_pannel li:not(.basique){
    margin-bottom: 10px;
}

#nouveau_pannel .double-input li {
    flex: 1;
}

#nouveau_pannel .double-input{
    display: flex;
    flex-direction: row;
}

#nouveau_pannel .double-input div:first-child {
    margin-right: 3vh;
}

#nouveau_pannel .double-input div{
    width: 100%;
}

#nouveau_pannel li div label,
#nouveau_pannel li div input,
#nouveau_pannel li div select {
    display: block;
    width: 100%;
    box-sizing: border-box;
}

#nouveau_pannel .double-input div label{
    display: flex;
    flex-direction: row;
}

#nouveau_pannel .double-input div label p{
    margin-left: 4px;
}

#nouveau_pannel #nouveau_heure_double{
    display: flex;
}

#nouveau_pannel .nouveau_heure_triple{
    display: none;
}

#nouveau_pannel input,#nouveau_pannel select{
    box-sizing: content-box;
    cursor: pointer;
    border: 0;
    border-radius: 5px;
    background-color: #E9E9E9;
    padding:8px;
    transition: background-color 0.4s ease, padding 0.4s ease;
    padding-left:10px;
}

#nouveau_pannel .double-input input,#nouveau_pannel .double-input select{
    height:31px;
    width: 15vw;
}
#nouveau_pannel li:not(.double-input) div input:not(input[type="checkbox"]):not(input[type="radio"]){
    height:31px;
}

#nouveau_pannel input:focus,#nouveau_pannel select:focus{
    background-color: #f3f3f3;
    padding-left: 13px;
}

#div_fin_nouveau button:not(.hidden):not(:last-of-type){
    margin-right: 20px;
}

#nouveau_pannel h1{
    font-size: 1.5vw;
    text-align: center;
    margin: 3.5vh 0 3.5vh 0;
}

#nouveau_pannel hr{
    border-top: 1px solid #C4C4C4;
    margin: 0;
    padding: 0;
    display: block;
    width: 100%;
}

#nouveau_pannel input[type="submit"]{
    border-radius: 10px;
    color: white;
    background-color: #32373B;
    margin-top:calc(var(--margin) / 2);
    margin-bottom:calc(var(--margin) / 2);
}

#nouveau_pannel input[type="checkbox"]{
    margin: 0;
    margin-top: 10px;
}

#nouveau_pannel input[type="radio"]{
    margin-top: 10px;
}

#nouveau_pannel select{
    background: url("data:image/svg+xml,<svg height='10px' width='10px' viewBox='0 0 16 16' fill='%23000000' xmlns='http://www.w3.org/2000/svg'><path d='M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z'/></svg>") no-repeat;
    background-position: calc(100% - 0.75rem) center !important;
    -moz-appearance:none !important;
    -webkit-appearance: none !important; 
    appearance: none !important;
    padding-right: 2rem !important;
    background-color: #E9E9E9;
}

#nouveau_pannel select:focus, #nouveau_pannel input:focus{
    outline: none;
}

#nouveau_pannel .basique{
    padding-bottom: 10px;
    text-align: center;
}

#boutons_message, #boutons_uv{
    display: flex;
    align-items: center;
    justify-content:center;
}

#boutons_uv:first-child{
    margin-right:25px;
}

#boutons_message button, #bouton_impossible_uv{
    color: #32373B;
    border: 1px solid #32373B;
    box-sizing: border-box;
    background-color: white;
}

#nouveau_pannel button{
    border-radius: 10px;
    margin-top:calc(var(--margin) / 2);
    margin-bottom:calc(var(--margin) / 2);
    box-sizing: content-box;
    cursor: pointer;
    height: 31px;
    width: 13vw;
    min-width: 100px;
    white-space: nowrap;
}

#nouveau_pannel button:not(#bouton_impossible_uv):not(#bouton_retour){
    border: 0;
    color: white;
    background-color: #32373B;
}

#nouveau_pannel #bouton_retour{
    margin-right: var(--margin);
    color: #32373B;
    box-sizing: border-box;
    border: 1px solid #32373B;
    background-color: white;
}


#nouveau_pannel li:not(.double-input):not(.basique):not(.hidden) #input-motivation-autre input{
    margin-top: 5px;
}

#boutons_message input{
    width: 13vw;
}

#boutons_message.hidden{
    display:none;
}

div#div_messages{
    display: flex;
    vertical-align: center;
    justify-content: center;
}

#nouveau_pannel div#div_messages p, #ul_nouveau li p{
    width:80%;
    margin:0;
    color: red;
}

#message_field{
    position: absolute;
    top:81%;
}

#nouveau_pannel #message_pression{
    margin: 50px;
}

p#message_uv_type , p#message_pression , p#message_impossible_uv , p#message_insertion , p#message_changement_creneau , p#message , p#message_envoie_swap {
    width: auto;
}




#ecran{
    display: none;
    position: fixed; /* Position par rapport à la fenêtre du navigateur */
    top: var(--taille-header); /* Espacement par rapport au header */
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    overflow: hidden;
    background-color: red;
}

/* Mise en forme de la page du menu pour téléphone */

#menu_pannel{
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    overflow-y: auto;
    overflow-x: hidden;
    position: fixed;
    top: var(--taille-header);
    left: -65%;
    border-left: 1px solid rgb(219, 219, 219);
    width: 60%;
    height: 100%;
    height: calc(100vh - var(--taille-header));
    z-index: 3;
    background-color: #fff;
    text-align: center;
    transition: left 0.7s ease;
    -webkit-box-shadow: -5px 0px 15px 5px var(--couleur-shadow); 
    box-shadow: -5px 0px 15px 5px var(--couleur-shadow);
}

#menu_pannel div{
    width: 100%;
}


#menu_pannel ul{
    list-style-type: none;
    padding: 0;
    margin:var(--margin-menu) 0 var(--margin-menu) 0;
    text-align: left;
}

#menu_pannel li {
    padding-top:  calc(var(--margin-menu) / 2);
    padding-bottom:  calc(var(--margin-menu) / 2);
    padding-left: 30px;
    transition: background-color 0.2s ease-in-out, border 0.15s ease;
}

#menu_pannel li:hover {
    background-color: #ededed;
    border-left: 4px solid grey;
}

#menu_pannel a {
    text-decoration: none;
    color: black;
    font-size: large;
}

#menu_pannel .profil {
    width: 10vh;
    margin-top:  var(--margin-menu);
}

#menu_pannel h2 {
    margin-top:  0;
    font-size: 3vh;
}

#menu_pannel button {
    margin-bottom:  var(--margin-menu);
    margin-top:  var(--margin-menu);
}


#menu_liste_petit{
    display: none;
    height: 100%;
}

#bouton_menu{
    vertical-align: middle;
    cursor: pointer;
    height: 3vh;
}


div.confirmationSwap{
    display: flex;
    flex-direction: row;
    gap: 5px;
    justify-content: center;

}

div.creneau{
    background: #F3F3F3;
    padding: 20px;
    border-radius: 12px;
    text-align: center;
    font-size: 13px;
}

div.details{
    white-space: nowrap;
}

span.row{
    display: flex;
    flex-direction: row;
    justify-content: center;
    vertical-align: center;
    align-items: center;
    gap: 7px;
}

span.row h3 , span.row p{
    margin: 0;
    padding: 0;
    color: black;
    width: auto;
}

#swapSalle1 p,
#swapSalle2 p,
#swapCreneau1 p,
#swapCreneau2 p,
#swapJour1 p,
#swapJour2 p {
    width: auto;
    margin: 0;
    color: black;
}

span.row h3{
    font-style: oblique;
}

#afficherSwapRequest{
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 10%;
}

#image_swap{
    width: 40px;
}

@media screen and (min-height: 766px) {
    :root{
        --taille-header: 100px;
    }
}

@media screen and (max-width: 1300px) {
    #nouveau_pannel{
        width: 50%;
    }

    #nouveau_pannel h1{
        font-size: 20px;
    }
    
    #nouveau_pannel .double-input input,#nouveau_pannel .double-input select{
        width: 20vw;
    }

    #nouveau_pannel input[type="submit"]{
        width:20vw;
    }

    #nouveau_pannel button{
        width:20vw;
    }

    #notification_pannel{
        width:55%;
    }
}

@media screen and (max-width: 1000px) {

    #notification_pannel #endroit_notification .notif .endroit_texte_notif .texte_notification h1{
        font-size: 12px;
    }
    #notification_pannel #endroit_notification .notif .endroit_texte_notif .texte_notification p{
        font-size: 12px;
    }

}


@media screen and (min-width: 550px) and (max-width: 850px) {
    div.creneau{
        font-size: 14.5px;
    }
}

@media screen and (max-width: 850px) {

    

    #menu_liste_grand{
        display: none;
    }
    #menu_liste_petit{
        display:flex;
    }
    #menu_pannel{
        display: flex;
    }

    #notification_pannel{
        width: 90%;
        margin: 0;
        height: calc(100vh - var(--taille-header) - 0.5em);
        -webkit-box-shadow: -5px 0px 10px 5px var(--couleur-shadow); 
        box-shadow: -5px 0px 10px 5px var(--couleur-shadow);
        border-radius: 0px;
        max-height: none;
        border: 0;
        border-left: 1px solid rgb(219, 219, 219);
    }

    #nouveau_pannel{
        width: 80%;
    }
    #nouveau_pannel .double-input input,#nouveau_pannel .double-input select{
        width: 30vw;
    }
    #nouveau_pannel input[type="submit"], #nouveau_pannel button{
        width:30vw;
    }
}

@media screen and (max-width: 600px){

    .nouveau_pannel_checkbox{
        gap:0px;
    }

    #notification_pannel{
        width: 100%;
    }
}

@media screen and (max-width: 550px) and (max-height: 550px){



    #notification_pannel #endroit_notification .notif .endroit_texte_notif .time_notification p{
        display: none;
    }

    #nouveau_pannel{
        width: 100%;
        height: calc(100vh - var(--taille-header));
        top:var(--taille-header);
        transform: translate(0%, 0%);
        left: 0;
        border: 0;
        border-radius: 0;
    }
    
    #nouveau_pannel #croix_nouveau{
        display: block;
    }
}

@media screen and (max-width: 500px){
    
    #notification_pannel #endroit_notification .notif .endroit_texte_notif{
        max-height:140px;
        height: 15vh;
    }
}

@media screen and (max-width: 450px){
    
    #notification_pannel #endroit_notification .type_1:not(.viewed) .endroit_texte_notif{
        max-height: 130px;
    }

    #notification_pannel #endroit_notification .notif .endroit_texte_notif .time_notification p{
        display: none;
    }

    div.confirmationSwap{
        flex-direction: column;
        align-items: center;
    }

    .confirmationSwap > div{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 90%;
    }

    div.creneau{
        width: 80%;
    }
}

@media screen and (max-width: 350px){

    #notification_pannel #endroit_notification .notif .endroit_texte_notif{
        height: 15vh;
        max-height:140px;
    }

    #nouveau_pannel .double-input{
        flex-direction: column;
    }

    #nouveau_pannel .double-input input,#nouveau_pannel .double-input select, #nouveau_pannel #li_motivation input, #ul_nouveau li{
        width:50vw;
    }

    #nouveau_pannel li:not(.double-input):not(.basique):not(.hidden){
        width: unset;
    }

    #nouveau_pannel .double-input div:first-child {
        margin-right: 0;
        margin-bottom: 10px;
    }
    #nouveau_pannel .double-input div:not(:last-child) {
        margin-right: 0;
    }

    #nouveau_pannel h1{
        font-size: 5vw;
    }
    #nouveau_pannel input[type="submit"], #nouveau_pannel button{
        width:20vw;
    }
    #nouveau_pannel #bouton_retour{
        margin-right: 5px;
    }

}

@media screen and (max-width: 350px){
    #notification_pannel #endroit_notification .notif .endroit_texte_notif{
        height: 20vh;
        max-height:140px;
    }
    #notification_pannel #endroit_notification .notif .endroit_texte_notif .time_notification, #notification_pannel #endroit_notification .notif .endroit_texte_notif .user_importance_notification{
        display: none;
    }
    #notification_pannel #endroit_notification .notif .endroit_texte_notif .texte_notification{
        align-items: center;
    }
}

@media screen and (max-height: 800px) {
    #menu_pannel h2 {
        font-size: 4vh;
    }
    #menu_pannel .profil {
        width: 15vh;
    }
}
@media screen and (max-width:550px) {
    #image_swap{
        display: none;
    }
}

@media screen and (max-height: 800px) and (min-width:550px) {
    #nouveau_pannel{
        height: 70%;
    }
    #notification_pannel #endroit_notification .notif .endroit_texte_notif .texte_notification h1{
        font-size: 12px;
    }
    #notification_pannel #endroit_notification .notif .endroit_texte_notif .texte_notification p{
        font-size: 12px;
    }
}

@media screen and (max-height: 300px) and (min-width:550px) {

    #nouveau_pannel{
        height: 80%;
    }
}


@media screen and (max-height: 450px) and (min-width:550px) {


    #nouveau_pannel{
        top: calc(50vh + calc(var(--taille-header)/2));
        width: 90%;
    }
    
    #nouveau_pannel #nouveau_heure_double{
        display: none;
    }

    #nouveau_pannel .nouveau_heure_triple{
        display: block;
    }

    #nouveau_pannel .double-input div:first-child {
        margin-right: 0px;
    }

    #nouveau_pannel .double-input div:not(:last-child) {
        margin-right: 3.5vh;
    }
    
    #nouveau_pannel .double-input input,#nouveau_pannel .double-input select{
        width: 22vw;
    }
}

@media screen and (max-height: 550px) {
    :root {
        --taille-header: 70px;
    }

    #nouveau_heure_double{
        margin: 0;
    }

    #bouton_menu{
        height: 17px;
    }

    .notification{
        height: 30px;
    }
    
}



@keyframes shake {
    0% { transform: translateX(0) rotate(0); }
    25% { transform: translateX(-1px) rotate(-1deg); }
    50% { transform: translateX(1px) rotate(1deg); }
    75% { transform: translateX(-1px) rotate(-1deg); }
    100% { transform: translateX(0) rotate(0); }
}

.shake-element {
    animation: shake 0.2s ease-in-out infinite; /* Ajustez la durée et l'accélération selon votre besoin */
}

/* CSS partie récapitulatif demande de swap */