div.main_info {
    display: flex;
    flex-direction: column;
    align-items: center; /* Centrer verticalement les éléments */
}

.info_title {
    text-align: center;
    font-style: oblique;
}
#info_titre{
    font-family: "Jost", sans-serif;
    font-size: 22px;
    font-weight: bold;
}
div#info_menu{
    display: flex;
    justify-content: center; /* Centrer horizontalement */
    align-items: center; /* Centrer verticalement */
    width: 50%;
}
#info_menu_nav {
    display: flex;
    flex-direction: column;
    align-items: center; /* Centrer verticalement */

}

#span_nav_menu {
    text-align: center; /* Centrer le texte à l'intérieur du span */
    display: flex;
    flex-direction: row;
    justify-content: center; /* Centrer horizontalement les éléments */
    border-bottom: 1px black solid; /* Bordure sous toute la span */
}

#span_nav_menu h3{
    transition: 0.3s linear opacity;

}

#span_nav_menu h3:hover{
    cursor: pointer;
    opacity: 90%;

}

h3.currentSpan {
    padding-bottom: 5px;
    border-bottom: 2px black solid; /* Bordure plus visible pour #currentSpan */
}

span#span_nav_menu h3{
    font-style: initial;
    color: #424141;
}

h3.currentSpan{
    border-bottom: 3px black solid;
    padding-bottom: 5px;
}

#span_nav_menu h3 {
    margin: 0 20px; /* Ajouter une marge horizontale de 20px entre les éléments */
    font-family: Jost;
    font-size: 24px;
    font-weight: normal;
}

div#info_menu_content{
    text-align: center;
    width: 100%;
    margin-left: 80px;
}

span.content{
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: justify;
    vertical-align: center;
    margin: 5px 0px;
}
span.content h4{
    margin: 10px 0px;
    font-family: Jost;
    font-size: 24px;
    font-weight: bold;
}
span.content h5{
    margin: 0 0 0 20px;
    font-family: Jost, serif;
    font-size: 15px;
    font-weight: normal;
}

.fleche_svg{
    width: 25px;
    height: 25px;
}

.fleche_svg_rotate{
    transform: rotate(90deg);
    width: 25px;
    height: 25px;
}

span.openContent {
    display: flex;
    align-items: center; /* Aligner verticalement les éléments */
    transition: scale 0.3s ease-in-out;
}

span.openContent h4 {
    margin: 0; /* Supprimer les marges par défaut du h4 */
}

span.openContent:hover {
    background: #fffdfd;
    cursor: pointer;
    scale: 101%;
}

span.openContent img.fleche_svg , span.openContent img.fleche_svg_rotate{
    margin-left: auto; /* Ajouter une marge à gauche de l'image pour l'espacement */
}


.hidden {
    display: none;
    max-height: 0; /* Ajout d'une hauteur maximale pour permettre la transition */
    overflow: hidden; /* Cacher tout contenu qui dépasse la hauteur maximale */
    transition: max-height 0.5s ease; /* Ajouter une transition pour une animation douce */
}
