div.main_info {
    display: flex;
    flex-direction: column;
    align-items: center; /* Centrer verticalement les éléments */
}

.info_title {
    text-align: center;
}
#info_titre{
    font-family: "Jost", sans-serif;
    font-size: 22px;
    font-weight: bold;
}
div#info_menu{
    display: flex;
    flex-direction: column;
    justify-content: center; /* Centrer horizontalement */
    align-items: center; /* Centrer verticalement */
    width: 70%;
}
#info_menu_nav {
    display: flex;
    flex-direction: column;
    align-items: center; /* Centrer verticalement */
    justify-content: center;
    width: 100%;
}

#span_nav_menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between; /* Centrer horizontalement les éléments */
    text-align: center; /* Centrer le texte à l'intérieur du span */
    border-bottom: 1px black solid; /* Bordure sous toute la span */
    width: 100%;
    margin-bottom: 25px;
}

#span_nav_menu h3:hover{
    cursor: pointer;
    opacity: 90%;

}

h3.currentSpan {
    padding-bottom: 5px;
    border-bottom: 2px black solid; /* Bordure plus visible pour #currentSpan */
}

span#span_nav_menu h3{
    width: 25%;
    transition: 0.3s linear opacity;
    font-style: initial;
    color: #424141;
    padding: 10px 20px; /* Ajouter une marge horizontale de 20px entre les éléments */
    margin:0px;
    font-family: Jost;
    font-size: 18px;
    font-weight: normal;
    white-space: nowrap;
}

h3.currentSpan{
    border-bottom: 3px black solid;
    padding-bottom: 5px;
}

div#info_menu_content{
    text-align: center;
    width: 85%;
}

span.content{
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: justify;
    vertical-align: center;
    margin: 5px 0px;
}
span.content h4{
    margin: 10px 0px;
    font-family: Jost;
    font-size: 22px;
}
span.content h5{
    margin: 0 0 0 20px;
    font-family: Jost, serif;
    font-size: 15px;
    font-weight: normal;
}

.faq_content{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: justify;
    height: 50px;
    font-family: Jost;
    font-size: 20px;
    font-weight: 100;
}

.faq_content h4{
    font-weight:lighter;
}

.fleche_svg{
    width: 25px;
    height: 25px;
    transition: transform 0.3s ease;
}

.fleche_svg_rotate{
    transform: rotate(90deg);
    width: 25px;
    height: 25px;
}

span.faq_openContent {
    display: flex;
    align-items: center; /* Aligner verticalement les éléments */
    justify-content: space-between;
    width: 100%;
    cursor: pointer;
}

span.faq_openContent h4 {
    margin: 0; /* Supprimer les marges par défaut du h4 */
}

span.faq_content h5 {
    margin: 20px 0px;
    width: 90%;
    font-weight: lighter;
    font-size: 16px;
    max-height: 0; /* Ajout d'une hauteur maximale pour permettre la transition */
    overflow: hidden; /* Cacher tout contenu qui dépasse la hauteur maximale */
    transition: max-height 0.5s ease, margin 0.5s ease; /* Ajouter une transition pour une animation douce */
}

.hidden {
    display: none;
}

@media screen and (max-width: 1200px) {
    div#info_menu{
        width: 90%;
    }
}

@media screen and (max-width: 900px) {
    div#info_menu{
        width: 100%;
    }
}

@media screen and (max-width: 600px) {

    #span_nav_menu{
        margin-top: 10px;
    }

    span#span_nav_menu h3{
        font-size: 14px;
    }

    .info_title{
        display: none;
    }
}
