
.mid_pannel{
    display: flex;
    position: fixed;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    top: calc(50vh + calc(var(--taille-header)/2)); /* La moitié de la hauteur de l'en-tête + ajustement */
    left: 50%;
    transform: translate(-50%, -50%);
    height:40vh;
    width:40vw;
    border-radius: 20px;
    padding: 0;
    margin: 0;
    background: white;
    z-index: 2;
}

.mid_titre, .mid_button{
    width: 100%;
}

.mid_pannel h1{
    font-size: 1.5vw;
    text-align: center;
    margin: 0;
    padding: 25px 0 25px 0;
}

.mid_titre hr, .mid_button hr{
    border-top: 1px solid #C4C4C4;
    margin: 0;
}

.mid_button{
    text-align: center;
}

.mid_content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow-y: auto;
    overflow-x: hidden;
    height: 100%;
    width: 100%;
}

.spanChoixInput{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 10px;
    margin-top: 2%;
    margin-bottom: 2%;
}

.mid_inputradio{
    display: flex;
    flex-direction: row;

}
.mid_content label,.mid_content input{
    white-space: nowrap;
}

.mid_pannel button{
    width: 200px;
    border-radius: 10px;
    font-size: 15px;
    color: white;
    border: none;
    background-color: #32373B;
    margin-top:calc(var(--margin) / 2);
    margin-bottom:calc(var(--margin) / 2);
    box-sizing: content-box;
    cursor: pointer;
    height: 31px;
    min-width: 100px;
    white-space: nowrap;
}

.mid_pannel button:nth-of-type(2){
    margin-left: 20px;
}

.mid_content textarea{
    overflow: auto;
    background: #E9E9E9;
    width: 80%;
    height: 80%;
    outline: none;
    padding: 5px;
    margin-bottom: 20px;
    border: 1px grey solid;
    resize: none;
    border-radius: 10px;
}

.croix{
    display: none;
    position: absolute;
    top:15px;
    right: 15px;
    width: 12px;
}

@media screen and (max-width: 1300px) {
    .mid_pannel{
        width: 50%;
    }

    .mid_pannel h1{
        font-size: 20px;
    }

    .mid_pannel button{
        width:20vw;
    }

    .mid_pannel{
        width:55%;
    }
}


@media screen and (max-width: 750px) {

    .mid_pannel{
        width: 80%;
    }

    .mid_pannel button{
        width:20vw;
    }
}


@media screen and (max-width: 400px) and (max-height: 550px){

    .mid_pannel h1{
        font-size: 5vw;
    }

}

@media screen and (max-height: 800px){
    .mid_pannel{
        height: 50%;
    }
}


@media screen and (max-height: 650px){

    .mid_pannel{
        height: 60%;
    }
}

@media screen and (max-height: 400px){

    .mid_pannel{
        height: 70%;
    }
}

@media screen and (max-width: 550px) and (max-height: 550px){

    .mid_pannel{
        width: 100%;
        height: calc(100vh - var(--taille-header));
        top:var(--taille-header);
        transform: translate(0%, 0%);
        left: 0;
        border: 0;
        border-radius: 0;
    }
    
    .mid_pannel .croix{
        display: block;
    }
    
    .mid_pannel h1{
        font-size: 5vw;
    }
}



@media screen and (max-width: 450px) {

    .mid_button button:nth-of-type(2){
        margin:10px;
    }

    
    .mid_pannel button{
        min-width: none;
    }
}