
main{
    display: flex;
    align-items: center;
    flex-direction: column;
    height: calc(100vh - var(--taille-header));
    overflow-x: hidden;
    position: relative;
}

.profil_pannel{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    min-height: 325px;
    margin-top: 50px;
    padding:0;
    border-radius: 20px;
    background-color: rgb(244, 244, 244);
}

#demandes_faites_utilisateur, #demandes_reçues_utilisateur{
    justify-content: space-around;
    min-height: 325px;
}

#demandes_reçues_utilisateur{
    margin-bottom: 50px;
}


#profil_utilisateur button{
    font-family: "Jost", sans-serif;
    background-color: white;
    padding: 12px 25px 12px 25px ;
    border: 1px solid lightgray;
    border-radius: 20px;
    -webkit-box-shadow: 6px 6px 15px 0px rgba(0,0,0,0.29); 
    box-shadow: 6px 6px 15px 0px rgba(0,0,0,0.29);
    font-weight: bold;
    font-size: 1vw;
    cursor: pointer;
    transition: scale 0.3s linear;
}

#profil_utilisateur button:hover{
    scale: 105%;
}

#profil_utilisateur h1, .demandes_profil_header h1{
    font-size: 27px;
}

.profil_header, .demandes_profil_header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding-top: 25px;
    padding-bottom: 25px;
    height: fit-content;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.profil_header  .profil_titre, .demandes_profil_titre{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 25px;
    height: 90%;
}

.tictac{
    width: 8px;
    height: 85%;
    border-radius: 5px;
    background-color: #FFB876;
    margin-right: 20px;
}

#demandes_faites_utilisateur .tictac{
    height: 100%;
    background-color: #acff97;
}

#demandes_reçues_utilisateur .tictac{
    height: 100%;
    background-color: #97c9ff;

}

.profil_header button{
    margin-right: 25px;
}

.profil_header h1, .demandes_profil_header h1{
    margin: 0;
    padding: 0;
}

#profil_content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;
    width: 100%;
}


#profil_content h1{
    margin: 0;
}

#profil_texte{
    display: flex;
    flex-direction: column;
    gap: 10px;    
    margin-left: 75px;
}

#profil_mail span:nth-of-type(1){
    font-weight: bold;
    margin-right: 10px;
    color:rgb(184, 184, 184);
}

.profil_demandes{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex:1;
    gap: 2vw;
}

.profil_demandes_parent, .profil_demandes_sous_parent{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 4vw;
}

#profil_mail{
    display: flex;
    flex-direction: row;
}

.profil_demande{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 15vw;
    height: 8vw;
    max-width: 200px;
    max-height: 100px;
    border-radius: 20px;
    background-color: white;
    -webkit-box-shadow: 6px 6px 15px 0px rgba(0,0,0,0.29); 
    box-shadow: 6px 6px 15px 0px rgba(0,0,0,0.29);
    padding:15px;
    box-sizing: border-box;
}

.profil_demande h2{
    max-width: 100%;
    text-overflow: hidden;
    font-size: 1.4vw;
    font-weight: 100;
    margin: 0;
    white-space: nowrap;
}

.profil_demande img{
    width: 30%;
}

.profil_demande .profil_demande_header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.profil_demande span span{
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    width:50%;
    font-size: 20px;
}

.demandes_profil_content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.demandes_profil{
    display: flex;
    flex-direction: row;
    width: 80%;
    gap: 20px;
    overflow-x: scroll;
    overflow-y: hidden;
    padding-bottom: 10px;
}

.message_aucune_demande{
    width: 100%;
    height: 100px;
    padding:20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e2e2e2;
    border: 1px solid lightgrey;
    text-align: center;
    border-radius:20px;
    color: #828282;
}

.message_aucune_demande h1{
    font-size: 19px;
    width: 250px;
}


.demandes_profil::-webkit-scrollbar-track
{
	border: 1px solid #d1d1d1;
	border-radius: 10px;
	background-color: white;
}

.demandes_profil::-webkit-scrollbar
{
	height: 10px;
	background-color:white;
}

.demandes_profil::-webkit-scrollbar-thumb
{
	border: 1px solid #d1d1d1;
	border-radius: 10px;
	background-color: #dfdfdf;
}

.demande_faite, .demande_reçue {
    padding: 20px;
    width: 215px;
    min-width: 215px;
    height: 100px;
    position: relative;
    perspective: 1000px;
}

.demande_faite_header,
.demande_reçue_header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.demande_faite button:not(.demande_trash_parent),
.demande_reçue button:not(.demande_trash_parent) {
    padding: 5px 15px 5px 15px;
    border-radius: 20px;
}

.demande_faite_button_accept,
.demande_reçue_button_accept {
    background-color: #aeffa0;
    color: #52b524;
    border: 1px solid #52b524;
}

.demande_faite_button_refus,
.demande_reçue_button_refus {
    background-color: #FF7E7E;
    color: #992929;
    border: 1px solid #992929;
}

.demande_faite_button_attent,
.demande_reçue_button_attent {
    background-color: #FDFF98;
    color: #A0A400;
    border: 1px solid #A0A400;
}


.demande_trash_parent{
    padding: 5px 10px 5px 10px;
    display: flex;
    align-items: center;
    border-radius: 10px;
    color: rgb(196, 42, 42);
    border: 1px solid rgb(196, 42, 42);
    background-color:#ffb0b0;
}

.demande_trash{
    margin-left: 5px;
    width: 10px;
}

.demande_faite_detail,
.demande_reçue_detail {
    white-space: nowrap;
    color: grey;
    width: 100%;
}

.demande_faite_etudiant,
.demande_reçue_etudiant,
.demande_faite_motif,
.demande_reçue_motif {
    width: 100%;
}

.demande_faite_motif,
.demande_reçue_motif {
    margin-top: 5px;
}


.demande_reçue_back > div:nth-child(3){
    display:flex;
    flex-direction: row;
    gap:10px;
}

.demande_reçue_back > div:nth-child(3) button{
    padding: 8px 16px;
    font-weight: bold;
    border-radius: 10px;
}

.demande_reçue_back > div:nth-child(3) .demande_reçue_button_refus{
    background-color: white;
    color:#32373B;
    border: 1px solid #32373B;
}

.demande_reçue_back > div:nth-child(3) .demande_reçue_button_accept{
    background-color: #32373B;
    color:white;
    border: 1px solid white;
}

.demande_faite_motif span:not(.demande_faite_motif_titre), .demande_reçue_motif span:not(.demande_reçue_motif_titre){
    background-color: #f0f0f0;
    padding: 3px 10px 3px 10px;
    border-radius: 8px;
}

.demande_faite_etudiant_titre,
.demande_reçue_etudiant_titre, 
.demande_faite_motif_titre, 
.demande_reçue_motif_titre {
    color: grey;
    margin-right: 10px;
}

.demande_faite_titre,
.demande_reçue_titre {
    display: flex;
    
    flex-direction: row;
    gap: 5px;
}

.demande_faite_titre h2,
.demande_reçue_titre h2 {
    margin: 0;
}

.demande_faite_front,
.demande_faite_back,
.demande_reçue_front,
.demande_reçue_back {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    backface-visibility: hidden;
    transition: transform 0.5s;
    transform-style: preserve-3d;
    border-radius: 20px;
}

.demande_faite_front, .demande_reçue_front, .demande_faite_back, .demande_reçue_back {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border-radius: 20px;
    padding: 20px;
    width: 215px;
    min-width: 215px;
    height: 100px;
    overflow: hidden;
    cursor: pointer;
}

.demande_faite_back, .demande_reçue_back {
    background-color: white; /* Couleur du verso */
    transform: rotateY(180deg);
}

.demande_reçue_back div:not(.demande_reçue_header) button{
    margin-top: 13px;
}

.demande_reçue:hover .demande_reçue_front, .demande_faite:hover .demande_faite_front {
    transform: rotateY(-180deg);
}

.demande_reçue:hover .demande_reçue_back, .demande_faite:hover .demande_faite_back {
    transform: rotateY(0deg);
}

.demandes_profil_fleches{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap:10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.demandes_profil_fleches img{
    width:10%;
    cursor: pointer;
    transition: scale 0.3s linear;
}

.demandes_profil_fleches img:hover{
    scale:110%;
}

.arc-de-cercle {
    display: none;
    width: 150%;
    min-height: 300px;
    background-color: #3F3F3F; /* Couleur de fond */
    border-radius: 50%; /* Coin arrondi pour former un cercle */
    -webkit-box-shadow: inset 0px 0px 15px 2px rgba(0,0,0,0.44); 
    box-shadow: inset 0px 0px 15px 2px rgba(0,0,0,0.44);
    margin-top: -150px;
    z-index:0;
}

#profil_image{
    position: absolute;
    top:100px;
    display: none;
    width: 150px;
    height: 150px;
    z-index: 1;
}
#fond_profil_image{
    position: absolute;
    display: none;
    top:125px;
    height:125px;
    width: 125px;
    border-radius: 50%;
    background-color: white;
    z-index: 0;
}

#demande_attente_pannel{
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content:space-between;
    padding:0;
    position: absolute;
    top: calc(50vh + calc(var(--taille-header)/2));
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    background-color: white;
    height: 60%;
    width: 50%;
}
#swap_content{
    box-sizing: border-box;
    padding-right: 5px;
    padding-bottom: 5px;
    margin-left: 0;
}

.demande_container{
    background-color: white;
    padding-right:5px;
    box-sizing: border-box;
    padding-top: 0;
    padding-left: 5px;
}

#swap_pannel{
    display: none;
    -webkit-box-shadow: 0px 0px 15px 8px var(--couleur-shadow); 
    box-shadow: 0px 0px 15px 8px var(--couleur-shadow);
}

@media screen and (min-width: 1400px) {
    .profil_demande h2 {
       font-size: 17px;
    }

    #profil_utilisateur button{
        font-size: 14px;
    }
  }

@media screen and (max-width: 800px) {

    
    .profil_demandes_parent, .profil_demandes_sous_parent{
        gap:1vw;
    }
    .profil_demandes{
        flex-direction: column;
    }

    .profil_demande{
        width: 20vw;
        height: 11vw;
    }

    .profil_demande h2{
        font-size: 1.75vw;
    }

    #profil_utilisateur{
        min-height: 350px;
    }

    #profil_utilisateur button{
        font-size: 1.5vw;
    }

}

@media screen and (max-width: 600px) {

    .arc-de-cercle {
        display: block;
    }

    .profil_pannel{
        background-color: initial;
    }

    #profil_image,#fond_profil_image{
        display: block;
    }

    #profil_texte{
        margin: 0;
        margin-top: 100px;
        align-items: center;
        justify-content: center;
    }

    #profil_texte h1{
        margin:0;
        font-size: 28px;
    }

    #profil_utilisateur, #demandes_faites_utilisateur, #demandes_reçues_utilisateur{
        min-height: fit-content;
    }

    .demande_faite_front,.demande_reçue_front, .demande_faite_back,.demande_reçue_back{
        border: 1px solid lightgray;
    }

    .demandes_profil_fleches{
        display: none;
    }

    .profil_demande h2{
        margin-top: 5px;
        font-size: 3vw;
    }

    .profil_demande_header img{
        width: 50%;
    }

    #profil_utilisateur button{
        font-size: 12px;
    }

    .profil_header button{
        display: none;
    }

    .profil_demande{
        height: 20vw;
        border-radius: 10px;
        min-height: 70px;
        min-width: 80px;
    }
    
    .profil_demandes_parent, .profil_demandes_sous_parent{
        flex-direction: row;
        gap:1vw;
    }

    .demande_container{
        border-top: 0;
        box-sizing: border-box;
        padding-top: 0;
        padding-left: 5px;
    }

}

@media screen and (max-width: 400px) {

    .profil_demande h2{
        font-size: 13px;
    }

}

@media screen and (max-width: 350px) {

    .profil_demandes_parent{
        flex-direction: column;
        gap:1vw;
    }

}